/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: "wght" var(--card-weight-normal);
  background-image: var(--background-image);
  background-attachment: fixed;
}

@supports (-webkit-text-stroke: 0.5px var(--bg-color)) {
  .label {
    text-shadow: none;
    -webkit-text-stroke: 0.5px var(--bg-color);
  }
}
.header__title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-wrap: nowrap;
}

.header-cards-style {
  width: var(--content-width);
  margin: auto;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 100px auto;
  border: 2px solid var(--border-color);
  text-transform: uppercase;
  background-color: var(--bg-color);
  /* padding: 128px 120.5px; */
  text-align: center;
  font-family: var(--accent-font);
  padding: clamp(7.5rem, 0.751vw + 7.324rem, 8rem) clamp(0rem, 11.268vw - 2.641rem, 7.5rem);
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  position: relative;
  display: block;
  border: 2px solid var(--border-color);
  background-color: var(--bg-color);
}

.label {
  position: absolute;
  font-family: var(--accent-font);
  mix-blend-mode: hard-light;
  opacity: 50%;
  -webkit-text-stroke: 0.5px var(--bg-color);
  text-shadow: 1px 1px var(--bg-color);
  top: 25px;
  right: 25px;
  z-index: 1;
}

.card__title {
  border-bottom: 2px solid var(--border-color);
  font-size: var(--card-title-size);
  font-variation-settings: "wght" var(--card-weight-bold);
  line-height: var(--line-height);
  padding: 5px 10px;
}

.picture {
  position: relative;
  height: var(--card-image-height);
  border-bottom: 2px solid var(--border-color);
  margin: 0;
}

.card__picture {
  display: block;
  width: 100%;
  /* max-height: var(--card-image-height); */
  max-height: 43.5rem;
  object-fit: cover;
  object-position: center;
}

.card__text {
  padding: 27px 25px 0 27px;
  line-height: var(--line-height);
  font-variation-settings: "wght" var(--card-weight-normal);
  font-size: var(--card-text-size);
}

/* Блок с кнопками */
.card__buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
  margin: 25px;
}

/* Стили кнопок */
.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: none; */
  background-color: var(--bg-color);
  border: 2px solid var(--border-color);
  transition: 0.3s ease;
  cursor: pointer;
  font-size: 0.875rem;
  overflow: hidden;
}

.button::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--decor-color); 
  transform: translate(-100%); 
  transition: transform 0.5s ease-in-out; 
}

.button:hover::before {
  transform: translate(0);
}

.button:focus {
  outline: none; 
}

button:focus-visible {
  outline: none; 
  box-shadow: 2px 2px 0 var(--decor-color); 
  transition: box-shadow 0.3s ease; 
}

/* Сердечко */
.card__icon-button {
  display: flex;
  border: none;
  background-color: var(--bg-color);
  transition: 0.3s ease;
  cursor: pointer;
  padding: 0;
}

.card__icon-button:focus {
  outline: none;
  box-shadow: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--decor-color);
}

.contour {
  fill: var(--contour-color);
}

.main-body {
  fill: var(--core-color);
  transition: fill 0.3s;
  transition-delay: 0s;
}

.core {
  fill: var(--core-color);
  transition: fill 0.3s 0s;
}

.sparks {
  opacity: 0;
  fill: var(--animation-fill-color);
}

/* Кнопка лайк */
.card__like-button {
  padding: 12.5px 37px;
  min-inline-size: 130px;
}

.button__text {
  font-family: var(--accent-font);
  font-weight: normal;
  z-index: 1;
  mix-blend-mode: difference;
  color: var(--bg-color);
  text-wrap: nowrap;
  /* padding-bottom: 18.5px;
  padding-top: 18.5px; */
}


.save__button {
  /* display: flex; */
  /* flex-direction: row; */
  gap: 10px;
  margin-bottom: 103px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  block-size: 55px;
  padding: 0 20px;
}

.save-floppy {
  position: relative;
  width: 21px;
  height: 21px;
  mix-blend-mode: difference;
  color: var(--bg-color);
}

.dialog {
  inset: 0;
  border: 2px solid var(--border-color);
  max-inline-size: 353px;
  column-gap: 20px;
  padding: 30px;
}

.dialog[open] {
  display: grid;
}

.dialog[open]::backdrop {
  opacity: 75%;
  background-color: var(--backdrop-color);
}


/* Дискета в диалоге */
.dialog-floppy {
  grid-column: 1/1;
  grid-row: 1/1;
  margin-top: 10px;
}

/* Текст в диалоге */
.dialog-text {
  grid-column: 2/2;
  grid-row: 1/1;
  text-transform: uppercase;
  font-family: var(--accent-font);
  font-size: 0.875rem;
  line-height: 150%;
  padding-bottom: 30px;
}

/* Кнопка ок в диалоге */
.dialog__button {
  grid-column: 1/3;
  grid-row: 2/2;
  padding: 9.5px 0;
}

/* Адаптив для мобилки */
@media (width <= 376px) {
  .save__button {
    flex-direction: column;
    block-size: 84px;
    gap: 8px;
  }

  .save-floppy {
    width: 28px;
    height: 28px;
    margin-top: 15px;
  }

  .label {
    right: 13px;
  }

  .save__button .button__text {
    margin-bottom: 15px;
  }
}

/* Фильтры */

/* Чёрно-красный */
.blur-filter {
  filter: blur(10px);
}

/* Пузыри */
.brightness-filter {
  filter: brightness(0.7);
}

/* Тупые двери */
.grayscale-filter {
  filter: grayscale(1);
}

/* Трещины */
.contrast-filter {
  filter: contrast(2);
}

/* Бежевые круги */
.opacity-filter {
  filter: opacity(0.2);
}

/* Запотевшее стекло */
.saturate-filter {
  filter: saturate(3);
}

/* Мак */
.hue-rotate-filter {
  filter: hue-rotate(120deg);
}

/* Лебединый */
.multiple-filter {
  filter: contrast(1.5) saturate(1.8) brightness(0.7) grayscale(0.5);
}