/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: "Inter-Variable", sans-serif;
  --accent-font: "Press Start 2P", sans-serif;
  --background-image:     
    repeating-linear-gradient(
      to right,
      #d3d3d3 0px 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(
      to top, 
      #d3d3d3 0px 2px, 
      transparent 2px 4px),
    linear-gradient(
      to bottom,
      #e7e7e7, 
      #1a1a1a);
  --bg-color: #fff; 
  --card-title-size: 1.125rem;
  --card-text-size: 1.125rem;
  --card-weight-bold: 700;
  --card-weight-normal: 400;
  --content-width: clamp(23.438rem, 30.141vw + 16.373rem, 43.5rem);
  --border-color: #000;      
  --card-image-height: clamp(23.438rem, 30.141vw + 16.373rem, 43.5rem)
  --line-height: 1.3125rem;
  --backdrop-color: #000;
  --contour-color: #000;
  --decor-color: #000;
  

}